body {
    background-color: gray;
}

/* black colour container  image needs to be fixed */
.container.bg-dark.text-white {
    height: 800px;
    margin-top: 20px;
}

#top {
    padding-top: 10px;
}

.col-lg-8 {
    justify-content: space-between;
    padding-left: 250px;
}

#welcome {
    position: absolute;
    color: wheat;
    left: 30%;
    top: 110px;
}

.img-fluid {
    margin-top: 30px;
}

#FindRoom {
    left: 23%;
    position: absolute;
    top: 520px;
}

#row3 {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#divs {
    height: 150px;
    width: 200px;
    padding: 20px;
}


/* white part */
.container.bg-white.text-dark {
    height: 250px;
    padding-top: 30px;

}

.img-thumbnail {
    width: 300px;
    left: 23%;
    position: absolute;
    top: 850px;
    margin-top: 20px;
    margin-left: 170px;
}

#box1 {
    margin-left: 60px;
}

#box3 {
    position: absolute;
    left: 70%;
    top: 850px;
}

/* rooms   error need to display rs and per night in same line*/
#rooms {
    height: 570px;
    margin-top: 0;

}

.rooms {
    display: inline;
}

.btn .btn-primary {
    margin-bottom: 5px;
}